body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 94px;
    background: black;
    padding: 0 100px ;
    box-sizing: border-box;
    
}
nav.brand{
    float: left;
    height: 40px;
    line-height: 40px;
}
.img-logo {
    width: 33px;
    height: 25px;
    margin-top: 27px;
    
}
nav .brand h2{
    color: #fff;
    font-size:45px;
    margin-top: -38px;
    font-weight: 700;
    margin-left: 42px;
}
.imgbtx{
    height: 1130px;
    width: 100%;
}

.nav{
    width: 80%;
    margin-top: 10px;
    padding-left: 173px;
}
.main {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: -1100px;
    
    
}
.form {
 font-family: sans-serif;
    width: 478px;
    min-height: 50px;
    padding: 50px 30px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
    font-size: 50px;
    margin-top: -102px;
   margin-left: 300px;
}
.form .heading {
    font-size: 2rem;
    margin: -53px;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}
.form-group {
display: flex;
margin-bottom: 35px;
flex-direction: column;
}
.img-logoform{
    width: 33px;
    height: 17px;
    margin-top: -101px;
}
.form-control {
    height: 66px;
    padding: 15px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 2rem;
 }
 .form-submit {
    outline: none;
   background-color: blue;
   margin-top: 12px;
   padding: 12px 16px;
   font-weight: 600;
   color: #fff;
   border: none;
   width: 100%;
   font-size: 14px;
   border-radius: 8px;
   cursor: pointer;
}
     
.form-submit:hover {
   background-color: blue;
}
.loginhere{
    text-align: center;
    font-size: 1rem;
}
.footer{
    
    margin-left: -25%;
    display: flex;
    margin-right: 10%;
    margin-top: 800px;
    font-size: 30px;
    width: 25%;
    height: 120px;

}
.lag{
    display: flex;
    margin-left: 75px;
}
.ft{
    display: flex;
}
