*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    position: relative;
}
header{
        position: sticky;
        top:0px;
        /* height: 56px; */
}
.header-row
{
    background-color:rgba(21,21,23,.95);
}
.navbar
{
    font-family:  Nova,helvetica neue,helvetica,arial,sans-serif;
}
.navbar-dark .navbar-nav .nav-link
{
    color:#fff;
}
.dropdown:hover .dropdown-menu
{
    display:block;
    margin-top:0;
}
.search-bar
{
    position: relative;
    width: 300px;
}
.search-icon
{
    position: absolute;

   
}
.header-input
{
    padding-left: 40px;
}

.upload-icon
{
   background-color:var(--bs-body-color);
   display: inline-block;
    border: 0px;
    
}
.btnHeader
{
    width:30px;
    height: 30px;
    /* margin-top:56px; */
}
